@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Inter"), url("../font/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Inter'), url("../font/Inter-Medium.ttf");
}


@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Inter'), url("../font/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: bold;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Inter"), url("../font/Inter-Bold.ttf");
}
